.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 90%;
    margin: 0 auto;
}

.cardWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.title{
    display: flex;
    justify-content: center;
    align-content: center;
}