.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: rgb(218, 251, 219);
}

li{
    list-style: none;
}

.block_logo{
    display: flex;
    position: relative;
    margin: 10px;
}
.logo img{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
}

.button{
    cursor: pointer;
    padding: 5px;
    background-color: bisque;       
}
   
  
    